body{
    font-family: 'Cinzel', serif;

}

/*cronometro------------------------------------------------------------------------*/

#time {
    width: 100px;
    height: 50px;
    /*position: relative; 
    display: inline-block;  */
    
    
}

#chronometer {
    color:  /*#3b240b;*/brown; 
    position: absolute; /* Posiciona el cronómetro de manera absoluta dentro del contenedor */
    
    font-family: 'Cinzel', serif;
    font-size: 2.5em;
   
     /* Fondo semitransparente para mejorar la legibilidad */
    padding: 5px;
    border-radius: 5px; /* Bordes redondeados */
   
    
}


/*marcador de puntos---------------------------------------------------------------------------------*/


#marker {
    width: 67px;
    height: 50px;
    /*position: relative;  
    display: inline-block;  */
    background-color: black; /* Fondo negro para el contenedor */
    margin: 10px; /* Espacio alrededor del contenedor */
    padding: 0px 4px; /* Espacio interno reducido, menos arriba y abajo */
    border: 3px double  brown; /* Borde marrón */
    
    border-radius: 5px; /* Bordes redondeados opcionales */

    
    
    

}

#scoreDisplay {
    color: brown; /* color que se ve*/
    font-family: 'Liberation Mono', monospace;/*fuente que mantiene el mismo tamaño sea el numero que sea*/
    font-size: 1.5em; /* Tamaño de la fuente */
    padding: 1px; /* Espacio interno del cronómetro (opcional) */
    line-height: 0; /* Controlar la altura de la línea para reducir el espacio */
}

#scoreDisplay:hover {
    color: red; 
    font-size: 1.5em; 
   
    

}


/*boton para insertar jugador en ranquin--------------------------------------------------------------*/
#recordButton {
    width: 100px; /* Ancho fijo del contenedor */
    height: 50px; /* Altura fija del contenedor */
    display: block;/*se utiliza para hacer desaparecer al boton PONER EN NONE PARA FUNCIONAMIENTO NORMAL*/
}

#recordButton button {
    color: rgb(179, 17, 17);
    font-size: 1em;

    width: 100%;
    height: 100%;
    background-image: url('../IMG/button.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border: 3px double  brown; /* Borde marrón */
    border-radius: 10px;
}

#recordButton button:hover {
    border: 3px solid red;
}



/*pantalla emergente--------------------------------------------*/

/* El popup está oculto por defecto */
.popup {
    display: none;/*hace no visible la pantalla y se cambia al vlicar el boton*/
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 40%;
    
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

/* Contenido de la ventana */
.windowsForm {
    left: 50%; /* Centrado horizontalmente */
    top: 50%;  /* Centrado verticalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrar */
    width: 35%; /* Ancho del contenedor */
    min-height: 30%; /* Altura mínima */
    background-image: url('../IMG/registro4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid rgb(179, 17, 17);
   
    border-radius: 10px;
}

h1 {
    color: /*#3b240b;*/rgb(97, 9, 9);
}

#myForm {
    text-align: center;
}

#myForm button {
    color: rgb(231, 18, 18);
    background-color: black;
    font-size: 1em;
    background-position: center;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border: 3px double  rgb(231, 18, 18); /* Borde marrón */
    border-radius: 10px;

}

#myForm label {
    color: black;
    font-size: 3em;
}

#longName {
    display: none;/*hace no visible la pantalla y se cambia al vlicar el boton*/
    position: fixed;
    color: black; 
    margin-bottom: 5px;
    width: 100%;
    height: 50%;
}

#name {
    border: 3px double  rgb(231, 18, 18); /* Borde marrón */
    border-radius: 10px;
    width: 30%;
    height: 10%;

}



/* Botón para cerrar el modal (X) */
.close {
    color: black;
    float: right;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(233, 100, 100);
}
