/* FONDOS DE PANTALLA ----------------------*/

.page-game {
    font-family: 'Cinzel', serif;

    display: flex;
    flex-direction: column;
    background-image: url('../IMG/fondoPagina.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;

}

body.page-index {

    background-image: url('../IMG/fondoPagina.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}

/* --------------------------------------------*/


/* Elements page game*/

/* Styles table*/
.page-game table {
    background-image: url('../IMG/fondo-madera.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
    height: 95%;
    border: 1px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-collapse: collapse;


}

.page-game td,
th {

    border: 2px double #d4af37;
    width: 65px;
    height: 65px;
}


.page-game th {

    color: white;
    background-image: url('../IMG/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


/*Elements for buttons of table game*/
.page-game .tableButton {


    width: 100%;
    height: 100%;
    background-image: url('../IMG/jero1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.page-game table button:hover {

    width: 100%;
    height: 100%;
    background-image: url('../IMG/jero1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid red;
}

/* Styles of the div that contains the table and the information div*/
.page-game .PrincipalDiv {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    width: 90%;
    height: 800px;
    background-color: rgba(8, 8, 8, 0.5);
    margin: 0 auto;
    margin-top: 50px;
    border: 5px double #8b4513;
    align-items: center;

}





/* REUSABLE ----> BOX DEL MARCADOR Y DEL INDEX */

/*Style of the information div*/
.page-game .scoreboard {

    background: linear-gradient(135deg, #d4af37, #e5c18a);
    /* Degradado dorado y beige */
    color: #3b240b;
    border: 5px double #8b4513;
    width: 30%;
    height: 95%;
    border-radius: 25px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 1rem;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

    display: block;
}



body.page-index div.main_container {

    width: 45%;

    font-family: 'Cinzel', serif;
    font-size: 1rem;

    background: linear-gradient(135deg, #d4af37, #e5c18a);
    color: #3b240b;
    border: 5px double #8b4513;
    border-radius: 25px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1.75%;

}

/*Style of footer*/
.page-game footer {

    background-color: black;
    color: white;
    width: 100%;
    height: 70px;
    text-align: center;
    margin: 0;
    margin-top: 5%;
    bottom: 0 auto;

}

/*Style for table buttoms where this are disabled*/
.page-game .button-disabled {
    background-color: #A9A9A9;
    /* Gris oscuro para el botón deshabilitado */
    color: #FFFFFF;
    /* Blanco para el texto */
    pointer-events: none;
    /* Desactivar eventos */
    cursor: not-allowed;
    /* Cambiar el cursor a indicar que no es clickeable */
    opacity: 0.7;
    /* Opcional: hacer el botón un poco más transparente */
    width: 100%;
    height: 100%;
    font-size: 10px;

    box-sizing: border-box;

}

/*Style of div buttoms when gamed is end.*/
.page-game .divButtonsFinalGame {

    width: 90%;
    height: 70px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    bottom: 30px;

}

/*Style of buttoms when gamed is end.*/
.page-game .divButtonsFinalGame button {
    background: #7a6a55;
    border: 3px solid #7a6a55;
    border-radius: 12px;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-size: cover;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Cinzel', serif;
    font-weight: bold;

    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    width: 30%;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}

.page-game .divButtonsFinalGame button:hover {
    background: #7a6a55;
    border: 3px solid #7a6a55;
    border-radius: 12px;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-size: cover;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.5), 0px 7px 12px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    width: 30%;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}




/* INDEX ------------------------------------ */


body.page-index div.main_container h1 {

    text-align: center;
    font-size: 3.8em;
    margin: 1.5%;

}


body.page-index div.main_container div.button_container {

    display: flex;
    /* border: 1px solid black; */
    justify-content: space-around;
    margin-top: 2.5%;

}

body.page-index div.main_container div.button_container button {

    background: #7a6a55;
    border: 3px solid #7a6a55;
    border-radius: 12px;

    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-size: cover;

    color: #ffffff;
    font-size: 18px;
    font-family: 'Cinzel', serif;
    font-weight: bold;

    padding: 16px 36px;

    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.6);

    cursor: pointer;

}

body.page-index div.main_container div.button_container button:hover {

    box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.5), 0px 7px 12px rgba(0, 0, 0, 0.7);

}