/* FONDOS DE PANTALLA ----------------------*/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-game {
    font-family: 'Cinzel', serif;

    display: flex;
    flex-direction: column;
    background-image: url('../IMG/fondoPagina.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;

}

body.page-index {

    background-image: url('../IMG/fondoPagina.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}

/* --------------------------------------------*/


/* Elements page game*/

/*Warning in case JS disabled*/
.page-game .warning {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: red;
    padding: 20px;
    color: white;

    font-weight: bold;
    text-align: center;

}

/* Styles table*/
.page-game table {
    background-image: url('../IMG/fondo-madera.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
    height: 95%;
    border: 1px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-collapse: collapse;


}

.page-game td,
.page-game th {

    border: 2px double #d4af37;
    width: 65px;
    height: 65px;
}


.page-game th {

    color: white;
    background-image: url('../IMG/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


/*Elements for buttons of table game*/
.page-game .tableButton {


    width: 100%;
    height: 100%;
    background-image: url('../IMG/jero1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.page-game table button:hover {

    width: 100%;
    height: 100%;
    background-image: url('../IMG/jero1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid red;
}

/* Styles of the div that contains the table and the information div*/
.page-game .PrincipalDiv {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    width: 90%;
    height: 850px;
    background-color: rgba(8, 8, 8, 0.5);
    margin: 0 auto;
    margin-top: 50px;
    border: 5px double #8b4513;
    align-items: center;

}





/* REUSABLE ----> BOX DEL MARCADOR Y DEL INDEX */

/*Style of the information div*/
.page-game .scoreboard {

    background: linear-gradient(135deg, #d4af37, #e5c18a);
    /* Degradado dorado y beige */
    color: #3b240b;
    border: 5px double #8b4513;
    width: 30%;
    height: 95%;
    border-radius: 25px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 1rem;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

    display: block;
}



body.page-index div.main_container {

    width: 45%;

    font-family: 'Cinzel', serif;
    font-size: 1rem;

    background: linear-gradient(135deg, #d4af37, #e5c18a);
    color: #3b240b;
    border: 5px double #8b4513;
    border-radius: 25px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1.75%;

}

/*Style of footer*/
.page-game footer {

    background-color: black;
    color: white;
    width: 100%;
    height: 70px;
    text-align: center;
    margin: 0;
    margin-top: 5%;
    bottom: 0 auto;

}

/*Style for table buttoms where this are disabled*/
.page-game .button-disabled {
    background-color: #A9A9A9;
    /* Gris oscuro para el botón deshabilitado */
    color: #FFFFFF;
    /* Blanco para el texto */
    pointer-events: none;
    /* Desactivar eventos */
    cursor: not-allowed;
    /* Cambiar el cursor a indicar que no es clickeable */
    opacity: 0.7;
    /* Opcional: hacer el botón un poco más transparente */
    width: 100%;
    height: 100%;
    font-size: 10px;

    box-sizing: border-box;

}

/*Style of div buttoms when gamed is end.*/
.page-game .divButtonsFinalGame {

    width: 90%;
    height: 70px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    bottom: 30px;

}

/*Style of buttoms when gamed is end.*/
.page-game .divButtonsFinalGame button {
    background: #7a6a55;
    border: 3px solid #7a6a55;
    border-radius: 12px;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-size: cover;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Cinzel', serif;
    font-weight: bold;

    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    width: 30%;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}

.page-game .divButtonsFinalGame button:hover {
    background: #7a6a55;
    border: 3px solid #7a6a55;
    border-radius: 12px;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-size: cover;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.5), 0px 7px 12px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    width: 30%;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}




/* INDEX ------------------------------------ */


body.page-index div.main_container h1 {

    text-align: center;
    font-size: 3.8em;
    margin: 1.5%;

}


body.page-index div.main_container div.button_container {

    display: flex;
    /* border: 1px solid black; */

    margin-top: 2.5%;
    margin: 0 auto;
    width: 90%;

}

body.page-index div.main_container div.button_container .buttonActive:hover {

    background: #7a6a55;
    border: 3px solid #7a6a55;
    border-radius: 12px;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-size: cover;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Cinzel', serif;
    font-weight: bold;

    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    width: 100%;
    height: 60px;
    text-align: center;
    margin: 0 auto;

    box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.5), 0px 7px 12px rgba(0, 0, 0, 0.7);
}


body.page-index div.main_container div.button_container .buttonActive {

    background: #7a6a55;
    border: 3px solid #7a6a55;
    border-radius: 12px;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-size: cover;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Cinzel', serif;
    font-weight: bold;

    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    width: 100%;
    height: 60px;
    text-align: center;
    margin: 0 auto;
}

body.page-index div.main_container div.button_container a {

    width: 30%;
    height: 50px;
    margin: 0 auto;

}

/*Button disabled*/
body.page-index div.main_container div.button_container .button-disabled {

    background: gray;
    border: 3px solid #7a6a55;
    border-radius: 12px;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-size: cover;
    color: #787676;
    font-size: 14px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: bold;

    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.6);
    pointer-events: none;
    /* Desactivar eventos */
    cursor: not-allowed;
    width: 100%;
    height: 60px;
}





/*Warning in case JS disabled*/
body.page-index .warning {

    background-color: red;
    padding: 20px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
}

/* RANKING CSS */
body.page-ranking {
    background-image: url('../IMG/fondoPagina.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container styling */
body.page-ranking div.main_container {
    background-color: rgba(8, 8, 8, 0.5);
    border: 5px double #8b4513;

    width: 70%;
    height: 80%;
    padding: 3%;

    display: flex;
    flex-direction: column;
}

body.page-ranking div.main_container div.table_wrapper {
    height: 90%;
    overflow: hidden;
    /* Hide overflow to avoid scrollbars */
    border: 5px double #8b4513;
    border-radius: 25px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 1.25rem;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

    background: linear-gradient(135deg, #d4af37, #e5c18a);
}

/* Table wrapper styling */
body.page-ranking div.main_container div.table_wrapper div.table_container {
    height: 100%;
    /* Fill the container */
    overflow-y: auto;
    /* Allow vertical scrolling */
    overflow-x: hidden;
    /* Hide horizontal scrolling if not needed */
    border-radius: 20px;
    /* Ensure this matches the container's border radius */

    background: linear-gradient(135deg, #d4af37, #e5c18a);
}

/* Table styling */
body.page-ranking div.main_container div.table_container table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

/* Styling for table headers and cells */
body.page-ranking div.main_container div.table_container table thead tr th,
body.page-ranking div.main_container div.table_container table tbody tr td {

    padding: 10px;

}



/* Sticky header styling */
body.page-ranking div.main_container div.table_container table thead tr th {

    background: #b3942c;

    font-size: 1.5rem;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;

}

body.page-ranking div.main_container div.table_container table tbody tr td.empty_records {
    padding-top: 20%;
}

/* Number section styling */
body.page-ranking div.main_container div.number_section {
    margin-top: 3%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}


body.page-ranking div.main_container div.number_section a {

    text-decoration: none;

    background: #7a6a55;
    border: 3px solid #7a6a55;
    border-radius: 12px;

    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-size: cover;

    color: #ffffff;
    font-size: 18px;
    font-family: 'Cinzel', serif;
    font-weight: bold;

    padding: 10px 25px 10px;
    margin: 0px 5px 0px;

    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.6);

    cursor: pointer;

}

body.page-ranking div.main_container div.number_section a:hover {

    box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.5), 0px 7px 12px rgba(0, 0, 0, 0.7);

}

body.page-ranking div.main_container div.number_section a.current_page {

    box-shadow: inset 0px 10px 14px rgba(0, 0, 0, 0.7), 0px 9px 14px rgba(0, 0, 0, 0.7);

    background: #a8a5a2;
    pointer-events: none;
    /* Disable mouse interactions */
    color: white;
    /* Change color to indicate it's disabled */
    cursor: not-allowed;
    /* Change cursor to indicate it's not clickable */

}

body.page-ranking ::-webkit-scrollbar {
    background-color: yellow;
}

body.page-ranking ::-webkit-scrollbar-thumb {
    background-color: #836445;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.5);

}

body.page-ranking ::-webkit-scrollbar-track {
    box-shadow: inset 0px 10px 14px rgba(0, 0, 0, 0.5);
    background-color: #6d3e00;
    padding: 5px;


}